---
title: Index Page
---
extends layouts/_layout
block content
  .content__date
    p © 2012 — 2018 Студия EXCV
  .fb-like(data-href='http://excv.ru/', data-layout='button_count', data-action='recommend', data-size='small', data-show-faces='true', data-share='true')  
  include home/content

  include home/contact