section.content.section-open
  .scene
    div(data-depth='0.2')
      .scene__block--1
        img(src='img/1.png', alt='')
    div(data-depth='0.3')
      .scene__block--2
        img(src='img/2.png', alt='')
    div(data-depth='0.1')
      .scene__block--3
        img(src='img/3.png', alt='')
    div(data-depth='0.5')
      .scene__block--4
        img(src='img/4.png', alt='')
    div(data-depth='0.6')
      .scene__block--5
        img(src='img/5.png', alt='')
  .content__logo
    .content__logo__image
      img(src='img/logo.svg', alt='')
    p design agency
  .content__text
    h1
      br
      #content__text__1
        #content__text__1-top Premium
        br
        #content__text__1-bottom сайты
      #content__text__2
        #content__text__2-top Лого
        span &
        br
        #content__text__2-bottom Фир.стиль
      #content__text__3
        #content__text__3-top Web
        br
        #content__text__3-bottom design
      #content__text__4
        #content__text__4-top Имидж
        br
        #content__text__4-bottom фото
      #content__text__5
        #content__text__5-top Реклама 
        span &
        br
        #content__text__5-bottom Маркетинг
    p Создадим уникальный образ Вашего бренда вместе
    .my-el2
    a.more.open-contact online - завяка
      i.icon.icon-right-arrow
    .btn
      .mobile
        .mobile__close
        i.icon-multimedia
      .open
      a(href="portfolio.html").btn__block.ripplelink
        | Наше портфолио
        span.ink.animate
  .content__social
    .content__social__block--4
      a(href='https://www.instagram.com/excvru/')
        +icon('insta')
        p Instagram: @excvru
    .content__social__block--1
      a(href='https://t.me/dmitry_kartye')
        i.icon-telegram
        p tg: @dmitry_kartye
    .content__social__block--2
      a(title='WhatsApp', href='whatsapp://send?phone=+79689503505')
        i.icon-whatsapp
        p wa: +7(968)950-35-05
    .content__social__block--3
      a(href='mailto:sales@excv.ru')
        i.icon-email-envelope-button
        p E-mail: sales@excv.ru